 @import "./navbar";


 //  font-family: 'Montserrat', sans-serif;
 // font-family: 'Roboto', sans-serif;
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #fff;
     font-family: 'Montserrat', sans-serif;
 }

 #loader-container {
     position: fixed;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     text-transform: capitalize;
     background: #efefef;
     width: 100vw;
     height: 100vh;
     z-index: 100;
     font-size: x-large;
     letter-spacing: 2px;
     transition-duration: 300ms;

     //  to hide loader
     //  display: none;
 }

 section {
     width: 100%;
     min-height: 90vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 70px;
 }

 #input-page {
     form {
         width: 80%;
         max-width: 600px;
     }

     input {
         outline: none;
         border: 1px solid #efefef;
         padding: 12px 35px;
         font-size: large;
         text-transform: uppercase;
         width: 100%;
         margin-bottom: 20px;

         &:focus {
             border-color: cornflowerblue;
         }
     }

     button {
         outline: none;
         border: 2px solid #000;
         background: none;
         padding: 10px 25px;
         border-radius: 20px;
         text-transform: uppercase;
         font-size: medium;
         letter-spacing: 1px;
         cursor: pointer;
         transition-duration: 100ms;

         &:hover {
             transform: scale(1.05);
         }

         &:active {
             transform: scale(.9);
         }
     }
 }